<h1>Welcome to Yelpdemo!</h1>
<h2>This is a sample application for 
<%= link_to "YelpDemo", "http://localhost:3000" %>. <%= link_to "Sign up", new_user_registration_path %> and start learning today.</h2>